{% extends "base.html" %}

{% block content %}


<img src="{{ url_for('static', filename='frustration_sign.jpg') }}"  width="617px">

<div id="navbarMenuHeroA" class="navbar-menu">
    <a href="/top" class="navbar-item"> Самое обсуждаемое </a>
    <a href="/new" class="navbar-item"> Последние </a>
    <a href="/post" class="navbar-item"> Создать топик </a>
</div>

<table class="table" style="width: 80%">
    <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Последняя активность</th>
            <th>Автор</th>
            <th>Ответы</th>
            <th>Просмотры</th>
        </tr>
    </thead>
	{% for topic in topics %}
	<tr>
		<td><a href="/topic/{{ topic.id }}"><b>{{ topic.title }}</b></a></td>
		<td><a href="/cat/{{ topic.category }}">{{ topic.category }}</a></td>
		<td>{{ topic.lastActivity }}</td>
		<td>{{ get_user(topic.author_id).name }}</td>
		<td>{{ topic.repliesNum }}</td>
		<td>{{ topic.views }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
