{% extends "base.html" %}
{% block content %}
<form action="/post/post" method="post">

		<div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Название: </label>
                </div>
                <div class="field-body">
                    <input class="input" type="text" name="title">
                </div>
                <div class="field-label is-normal">
                    <label class="label">Категория: </label>
                </div>
                <div class="field-body">
                    <input class="input" type="text" name="category">
                </div>
        </div>

        <div class="field">
            <div class="control">
                <textarea class="textarea" name="content" placeholder="Ваш текст тут"></textarea>
            </div>
        </div>
        <div class="control">
            <button class="button" type="submit">Создать</button>
        </div>

</form>
{% endblock %}
