{% extends "base.html" %}
{% block content %}

<h1 class="title">
  {{ topic.title }}
</h1>

<article class="media">
  <figure class="media-left">
      <p class="image is-128x128">
          <img src="{{ url_for('static', filename=get_user(topic.author_id).avatar) }}">
      </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong> {{ get_user(topic.author_id).name }} </strong>
        <br>
            {{ topic.content|safe }}
        <br>

          <small>
              <a href="/like/{{ topic.id }}"> {{ topic.likesNum }} likes</a>
              <a> {{ topic.date }}</a>
          </small>
      </p>
    </div>

{% for reply in replies %}

    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="{{ url_for('static', filename=get_user(reply.author_id).avatar) }}">
            </p>
        </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> {{ get_user(reply.author_id).name }} </strong>
            <br>
              {{ reply.content|safe }}
            <br>
            <small>
              <a href="/like/reply/{{ reply.id }}/{{ topic.id }}"> {{ reply.likesNum }} likes</a>
              <a> {{ reply.date }}</a>
            </small>
          </p>
        </div>
      </div>
    </article>

{% endfor %}

    <form action="/reply/{{ topic.id }}" method="post">

        <article class="media">
          <figure class="media-left">
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" name="body" placeholder="Ваш комментарий..."></textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button" type="submit"> Ответить </button>
              </p>
            </div>
          </div>
        </article>
    </form>


{% endblock %}
